body {
 padding-top: 50px;
 background-image: url(../images/footer_lodyas.png);
 color: #FFF;
}

.navbar {
  background-image: url(../images/footer_lodyas.png);
}

#Navbar li a{
  color: white;
}

#Navbar div a {
  color: white;
}

#Navbar ul :hover {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.card {
  margin: 15% 0;
}

.about {
  height: 100vh;
  background-color: rgba(240,240,240,0.9);
}

.about img {
  /*border: 3px solid rgba(220,220,240,0.5);*/
  border: 3px solid #2B90AE;
}

.card img {
  height: 25rem;
  border: 10px solid rgba(0,0,0,0);
  border-radius: 5%;
}

.card :hover {
  cursor: pointer;
}

.card img:hover {
  cursor: pointer;
  border: 4px solid rgba(180,180,255,0.7);
}
