body {
  margin: 50px 0 200px 0;
  background-image: url(../images/footer_lodyas.png);
  color: #FFF;
}

.navbar {
  background-image: url(../images/footer_lodyas.png);
}

#Navbar ul :hover {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

#main-display {
  margin: 5vh 0;
  background-color: rgba(20, 20, 20, 0.2);
}

#Card {
  vertical-align: middle;
}

#Card img {
  height: 25rem;
  border: 10px solid rgba(0,0,0,0);
  border-radius: 5%;
}

#Card :hover {
  cursor: pointer;
}

#Card img:hover {
  cursor: pointer;
  border: 4px solid rgba(180,180,255,0.7);
}



.about {
  height: 100vh;
  background-color: rgba(240,240,240,0.9);
}

.about img {
  /*border: 3px solid rgba(220,220,240,0.5);*/
  border: 3px double #2B90AE;
}
