@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Yeseva+One');

$navFont: 'Dancing Script', cursive, serif;
$mainFont: 'Lato', sans-serif;
$headerFont: 'Yeseva One';
$pink: #f4429b;
$gold: #f4e542;
$white: #ddd;
$red: #FF0011;
$navColor: $pink;
$bgColor: $black;
$mainColor: complement($navColor);
$headerColor: lighten($mainColor, 10%);
$navHeight: 5vh;
$displayHeight: 95%;

body {
  position: relative;
  font-family: $mainFont;
  margin: 0;
  padding: $navHeight 0 1.2em;
  color: $mainColor;
  height: 100%;
  background: $bgColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  color: $headerColor;
}

.grid {
  display: grid;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: space-around;
  height: $navHeight;
  width: 100vw;
  background-color: $bgColor;
  font-family: $navFont;
  color: $navColor;

  .logo {
    .link{
      margin-left: 10px;
      font-size: 2em;
    }
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
  }
}

#main-display {
  text-align: center;
}

.link {
  justify-self: center;
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  &:after {
    content: '';
    position: absolute;
    background-color: $navColor;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    margin-left: 50%;
    transition: 0.4s linear;
  }
  &:hover {
    &::after {
      width: 100%;
      margin: 0;
    }
  }
  a {
    text-decoration: none;
  }
}

#VRScene {
  height: 60vh;
  width: 90vw;
  margin: 0 auto;
}

/***********************
    ABOUT VIEW
************************/

#About {
  // display: grid;
  // grid-template-areas: ''
  // grid-template-columns: 2fr 1fr;
}

@keyframes drop {
  to {
    transform: translateY(100vh)
  }
}

.skill {
  position: absolute;
  top: 0;
  // left: 0;
  z-index: 10;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: $mainFont;
  color: $mainColor;
  animation: drop 6s 1s;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.main-text {
  font-family: $mainFont;
  color: $mainColor;
  font-size: 1.5rem;
}

.headshot {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/*************************
     PROJECTS VIEW
*************************/

.projectsView {
  margin-top: 25px;
  grid-template-areas: 'left center right';
  align-items: center;
}

.navArrow {
  cursor: pointer;

  .left, .right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
    font-size: 4em;
    font-weight: bold;
    color: $navColor;
  }
  .left {
    grid-area: left;
  }
  .center {
    grid-area: center;
  }
  .right {
    grid-area: right;
  }

  &:hover {
    transform: scale(1.1);
    color: lighten($navColor, 25%);
  }
}

/***************************
      CARD COMPONTENT
***************************/

#Card {
  border: 2px solid rgba($navColor, 0.2);
  border-radius: 20px;
  padding: 10px;
}

.projectImg {
  img {border-radius: 20px;}
}


/***************************
      FOOTER COMPONTENT
***************************/

#Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.6em;
  color: $navColor;
  text-align: center;
}
