@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Yeseva+One");
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative;
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav, ul, li {
  list-style-type: none;
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #111;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #111;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  position: relative;
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #6d0c5a;
  height: 100%;
  background: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One";
  color: #9b1180; }

#App {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer'; }

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  width: 100vw;
  background-color: #000;
  font-family: "Dancing Script", cursive, serif;
  color: #0c6d1f; }

#header {
  padding: 0 10px; }

.myName {
  width: max-content; }

.link {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s; }
  .link:after {
    content: '';
    position: absolute;
    background-color: #0c6d1f;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    margin-left: 50%;
    transition: 0.4s ease-out; }
  .link a {
    transition: 0.4s ease-out;
    text-decoration: none; }
    .link a:visited, .link a:active {
      color: #0c6d1f; }
  .link:hover a {
    color: #f4429b; }
  .link:hover::after {
    background-color: #f4429b;
    width: 100%;
    margin: 0; }

#main {
  grid-area: main;
  display: grid;
  grid-template-areas: 'popup1 laptop popup2' 'popup3 laptop popup4';
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 50% 50%;
  height: 95vh;
  width: 100vw; }

#popup1 {
  grid-area: popup1; }

#popup2 {
  grid-area: popup2; }

#popup3 {
  grid-area: popup3; }

#popup4 {
  grid-area: popup4; }

#VRScene {
  height: 60vh;
  width: 90vw;
  margin: 0 auto; }

/***************************
      CARD COMPONTENT
***************************/
#Card {
  border: 2px solid rgba(12, 109, 31, 0.2);
  border-radius: 20px;
  padding: 10px; }

.projectImg img {
  border-radius: 20px; }

/***************************
      FOOTER COMPONTENT
***************************/
#Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.6em;
  color: #0c6d1f;
  text-align: center; }

#laptop {
  height: 100%;
  width: 100%;
  cursor: pointer; }

#laptop *,
#laptop ::before,
#laptop ::after {
  box-sizing: border-box; }

#screen {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 99.4%;
  background-color: #000000;
  border: 12px solid #111111;
  border-top: 15px solid #111111;
  border-bottom: 15px solid #111111;
  box-shadow: 0 0 0 12px #111111 inset, 0 0 0 2px #000000, 0 0 0 4px #c0c0c0;
  border-radius: 8px;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(-15deg);
  perspective: 100px; }

#screen.close {
  animation: close 2s forwards cubic-bezier(1, 0, 0.82, 0.63); }

#screen.open {
  animation: open 2s forwards cubic-bezier(0.21, 1.05, 0.69, 1); }

#screen:before {
  content: '';
  position: absolute;
  top: -1.5%;
  margin: 0 50%;
  background-color: #000000;
  height: 8px;
  width: 8px;
  border: 2px solid #222222;
  border-right: 2px solid #2a2a2a;
  border-left: 2px solid #2a2a2a;
  border-radius: 50%;
  transform: rotateZ(-45deg); }

#screen:after {
  content: '';
  position: absolute;
  top: -18px;
  bottom: -18px;
  left: -14px;
  right: -15px;
  border-radius: 8px;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateY(180deg);
  background-color: #c0c0c0;
  z-index: -1;
  backface-visibility: hidden; }

#screen.close:before {
  animation: hideCamera 2s forwards cubic-bezier(1, -0.15, 0.82, 0.63); }

#screen.close:after {
  animation: showBack 2s forwards cubic-bezier(1, -0.15, 0.82, 0.63); }

#screen.open:before {
  animation: showCamera 2s forwards cubic-bezier(1, -0.15, 0.82, 0.63); }

#screen.open:after {
  animation: hideBack 2s forwards cubic-bezier(1, -0.15, 0.82, 0.63); }

#keyboard {
  position: relative;
  top: 2px;
  width: 100%;
  height: 2%;
  background-color: #c0c0c0;
  margin: 0 auto;
  border-radius: 2px 2px 0 0; }

#keyboard:before {
  content: '';
  position: absolute;
  background-color: #969696;
  height: 75%;
  width: 10%;
  left: 45%;
  top: -2px;
  border-radius: 30%; }

#keyboard:after {
  content: '';
  position: absolute;
  bottom: -70%;
  height: 150%;
  width: 100%;
  border-radius: 40%;
  background-color: #b8b8b8;
  z-index: -1; }

.glow {
  animation: glow 4s 3s infinite ease-in-out; }

#screen.power .text {
  animation: power 0.4s 2s forwards ease-out; }

.text {
  margin: 12px;
  height: auto;
  color: #0c6d1f;
  font-family: monospace;
  font-size: 1.3em;
  text-indent: 5px; }

.text p {
  margin: 0.5em 0 0.5em 2px; }

.popup {
  width: 100%;
  height: 100%;
  border: 1px solid #c0c0c0; }

@keyframes showCamera {
  1% {
    opacity: 1; } }

@keyframes hideCamera {
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes power {
  0% {
    background-color: #000000; }
  20% {
    background-color: #070707; }
  30% {
    background-color: #070707; }
  100% {
    background-color: #000000; } }

@keyframes close {
  0% {
    transform: rotateX(-15deg); }
  100% {
    transform: rotateX(89deg); } }

@keyframes open {
  0% {
    transform: rotateX(89deg); }
  100% {
    transform: rotateX(-15deg); } }

@keyframes showBack {
  99% {
    backface-visibility: hidden; }
  100% {
    backface-visibility: visible; } }

@keyframes hideBack {
  0% {
    backface-visibility: visible; }
  1% {
    backface-visibility: hidden; } }

@keyframes glow {
  0% {
    filter: drop-shadow(0 -4px 10px rgba(168, 250, 249, 0.1)); }
  50% {
    filter: drop-shadow(0 -4px 30px #a2ffad); }
  100% {
    filter: drop-shadow(0 -4px 10px rgba(168, 250, 249, 0.1)); } }
