$green: #4bf256;
$laptopFont: 'Lato';

#laptop *,
#laptop ::before,
#laptop ::after {
  box-sizing: border-box;
}

#laptop {
  height: 100%;
  width: auto;
  cursor: pointer;
}

#screen {
  position: relative;
  margin: 0 auto;
  padding-top: 0.1px;
  height: 100%;
  width: 99.4%;
  background-color: #000000;
  box-shadow: 0 0 0 12px #111111 inset,
              0 0 0 2px #000000,
              0 0 0 4px #c0c0c0;
  border-radius: 8px;
  transform-origin: bottom;
  transform: rotateX(-15deg);
  perspective-origin: top;
  perspective: 100px;
  &.close {
    animation: close 2s forwards cubic-bezier(1,0,.82,.63);
  }
  &.open {
    animation: open 2s forwards cubic-bezier(.21,1.05,.69,1);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0.5%;
    margin: 0 50%;
    background-color: #000000;
    height: 8px;
    width: 8px;
    border: 2px solid #222222;
    border-right: 2px solid #2a2a2a;
    border-left: 2px solid #2a2a2a;
    border-radius: 50%;
    transform: rotateZ(-45deg);
  }
  &:after {
    content: '';
    position: absolute;
    top: -18px;
    bottom: -18px;
    left: -4px;
    right: -4px;
    border-radius: 8px;
    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateY(180deg);
    background-color: #c0c0c0;
    perspective-origin: top;
    perspective: 100px;
    z-index: -1;
    backface-visibility: hidden;
    opacity: 0;
  }
  &.close{
    &:before {
      animation: hideCamera 2s forwards cubic-bezier(1,-0.15,.82,.63);
    }
    &:after {
      animation: showBack 2s forwards cubic-bezier(1,-0.15,.82,.63);
    }
  }
  &.open{
    &:before {
      animation: showCamera 2s forwards cubic-bezier(1,-0.15,.82,.63);
    }
    &:after {
      animation: hideBack 2s forwards cubic-bezier(1,-0.15,.82,.63);
    }
  }
  &.power .text {
    animation: power 0.4s 2s forwards ease-out;
  }
}

#keyboard {
  position: relative;
  top: 2px;
  width: 100%;
  height: 2%;
  background-color: #c0c0c0;
  margin: 0 auto;
  border-radius: 2px 2px 0 0;
  &:before {
    content: '';
    position: absolute;
    background-color: #969696;
    height: 75%;
    width: 10%;
    left: 45%;
    top: -2px;
    border-radius: 30%;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -70%;
    height: 75%;
    width: 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(#c0c0c0, #656565);
    z-index: -1;
  }
}
.glow {
  animation: glow 1.4s 3s infinite ease-in;
}


.text {
  margin: 12px;
  height: auto;
  color: $green;
  font-family: $laptopFont;
  font-size: 1.1em;
  h2 {
    text-align: center;
    margin: 0.5em 0;
  }
  h3 {
    text-align: center;
    margin: 0.5em 0;
  }
  p {
    margin: 0.5em 0 0.5em 2px;
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes showCamera {
  1% { opacity: 1; }
}
@keyframes hideCamera {
  90%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes power {
  0%   { background-color: #000000; }
  20%  { background-color: #ffffff; }
  30%  { background-color: #ffffff; }
  100% { background-color: #ffffff; }
}

@keyframes close {
  0%   { transform: rotateX(-15deg); }
  100% { transform: rotateX(89deg); }
}

@keyframes open {
  0%   { transform: rotateX(89deg); }
  100% { transform: rotateX(-15deg); }
}

@keyframes showBack {
  99%  { 
    backface-visibility: hidden; 
    opacity: 0;
  }
  100% { 
    backface-visibility: visible;
    transform: none;
    opacity: 1;
  }
}

@keyframes hideBack {
  0% { 
    backface-visibility: visible; 
    opacity: 1;
  }
  1% { 
    backface-visibility: hidden; 
    opacity: 0;
  }
}

@keyframes glow {
  0%   { filter: drop-shadow(0 -4px 10px rgba(33, 196, 193, 0.1)) }
  50%  { filter: drop-shadow(0 -4px 10px rgba(83, 206, 98, 0.9)) }
  70%  { filter: drop-shadow(0 -4px 20px rgba(79, 230, 97, 0.9)) }
  100% { filter: drop-shadow(0 -4px 100px rgba(33, 196, 193, 0.4)) }
}